@font-face {
  font-family: 'Steelfish Bold';
  src: url('Davenport-Steelfish-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light Std Light';
  src: url('HelveticaNeueLTStd-Lt.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
