//
// Some Useful color Vars via http://clrs.cc/
//

//DU Primary Brand Colors
$du-p-red: rgb(238, 49, 36);
$du-p-black: rgb(0, 0, 0);
$du-p-grey-1: rgb(113, 115, 117);
$du-p-grey-2: rgb(190, 192, 194);

//DU Secondary Brand Colors
$du-s-blue: rgb(34, 57, 131);
$du-s-yellow: rgb(244, 163, 25);
$du-s-green: rgb(0, 59, 38);

//DU Greyscale Secondary Colors
$du-n-90: rgb(26, 26, 26);
$du-n-50: rgb(127, 127, 127);
$du-n-70: rgb(77, 77, 77);



// Cool
//$aqua:  #7FDBFF
//$blue:  #0074D9
//$navy:  #001F3F
//$teal:  #39CCCC
//$green: #2ECC40
//$olive: #3D9970
//$lime:  #01FF70


// Warm
//$yellow:  #FFDC00
//$orange:  #FF851B
//$red:     #FF4136
//$fuchsia: #F012BE
//$purple:  #B10DC9
//$maroon:  #85144B


// Gray Scale
//$white:  #fff
//$silver: #ddd
//$gray:   #aaa
//$black:  #111


//
// Add whatever variables you would like made available to the whole app
//
