.edit
  max-width: 300px

.form-text
  color: #eee

.radio-container
  text-align: left
  max-width: inherit

.question-container
  .form-text
    text-align: left

  textarea
    border-radius: 5px

.center-form

  .radio-container
    margin-left: 5px

  button
    width: 300px
