.gallery
  text-align: center
  display: block
  position: relative
  margin: 60px

.box
  //background-color: $du-n-90
  //border: solid 1px $du-p-red
  background-color: pink
  height: 200px
  text-align: center
  padding-left: 0
  padding-right: 0
