.gallery
  background-color: #eee
  margin: 0 40px
  border-radius: 10px

  .row
    margin-left: 0
    margin-right: 0

@media (max-width: 600px)
  .gallery
    margin: 40px 10px

.gall-head
  width: 100%
  height: 100px
  margin-top: 100px
  text-align: center

  .banner
    height: 33px
    width: 100%
  .blue-box
    border-top-left-radius: 10px
    border-top-right-radius: 10px

  .gall-title
    text-align: center
    height: 98px
    width: 33%
    background-color: $du-p-red
    color: white
    margin: 0 auto
    margin-top: -99px


    h1
      display: block
      position: relative
      margin: 0 auto
      padding-top: 25px
      /*font-size: 50px*/

.gall-undertitle
  text-align: center
  color: #eee
  background-color: $du-p-black

  h2
    padding: 10px
    margin-top: -1px
    margin-bottom: -1px

.overlay-logo
  position: absolute
  height: 100px
  right: 10px
  bottom: 10px
  z-index: 1

//Gallery Boxes

.box
  background-color: $du-n-50
  border: solid 1px #eee
  height: 200px
  text-align: center
  padding: 0

  .overlay
    height: 100%
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    text-align: left
    padding: 20px
    opacity: 0.5

    h2, p
      font-family: 'Steelfish Bold', 'Oswald', sans-serif
      margin-top: 0
      color: #eee
      text-shadow: 2px 2px #222

  .overlay:hover
    opacity: 1


@media (max-width: 800px)
  .box .overlay
    opacity: 1

@media (max-width: 900px)
  .gall-head .gall-title
    width: 66%

@media (max-width: 400px)
  .gall-title h1
      font-size: 40px
  .gall-undertitle h2
      font-size: 25px
