.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1
  background-color: rgba(0, 0, 0, 0.65)
  display: none

.modal-container
  display: none
  margin: 0 auto

.modal:target .modal-container
  top: 20px

.modal-close
  position: fixed
  margin-top: 55px
  right: 50px

  a
    font-size: 30px
    font-family: sans-serif
    font-weight: 100
    color: $du-p-red

  &:hover
    color: darken($du-p-red, 20%)
    transition: all 0.3s ease 0s
